%primaryActiveButton {
  display: inline-block;
  padding: 10px 13px;
  height: 44px;
  width: 136px;
  border-radius: 5px;
  border: none;
  color: $primaryWhiteColor;
  background-color: $buttonOrangeColor;
  box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 129px;
  }
}

%primaryButton {
  display: inline-block;
  padding: 10px 13px;
  height: 44px;
  width: 136px;
  border-radius: 5px;
  border: 1px solid $primaryWhiteColor;
  color: $primaryWhiteColor;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 129px;
  }
}

%flex {
  display: flex;
  padding: 0;
  margin: 0;
}

%centredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%nav-after {
  position: absolute;

  bottom: -3px;
  @media screen and (min-width: 768px) {
  }

  content: " ";
  display: flex;
  width: 100%;
  height: 3px;
  background-color: $primaryOrangeColor;
}

%transition {
  transition-duration: 250ms;
  transition-timing-function: $transmition-cubic;
}
