<div class="back js-backdrop">
  <!-- <div class="modal-command"></div> -->
  <div class="modal-command">
    <h2 class="team-heading">Группа №1</h2>
    <ul class="team-members">
      <li class="member">
        <img src="./images/command/alex.jpg" alt="Alex" width="150px" />
        <div class="member-info">
          <p>Александр Животенко</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/andrei.jpg" alt="Andrey" width="150px" />
        <div class="member-info">
          <p>Андрей Вахоцкий</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/timur.jpg" alt="Timur" width="150px" />
        <div class="member-info">
          <p>Тимур Замесов</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/eugenia.jpg" alt="Eugenia" width="150px" />
        <div class="member-info">
          <p>Евгения Гриценко</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/fedir.jpg" alt="fedir" width="150px" />
        <div class="member-info">
          <p>Федор Гавриляк</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/igor.jpg" alt="igor" width="150px" />
        <div class="member-info">
          <p>Игорь Надеен</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/ivan.jpg" alt="ivan" width="150px" />
        <div class="member-info">
          <p>Иван Витенко</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/lilia.jpg" alt="lilia" width="150px" />
        <div class="member-info">
          <p>Лилия Новикова</p>
        </div>
      </li>
      <li class="member">
        <img src="./images/command/taisia.jpg" alt="taisia" width="150px" />
        <div class="member-info">
          <p>Таисия Филикова</p>
        </div>
      </li>
    </ul>
  </div>
  <button class="team-btn-close js-team-close" type="button" title="Close"></button>
</div>

</div>