<footer class="footer">
  <div class="footer-container">
    <div class="footer-copyrights">
      <p class="footer-first-part">© 2020 | All Rights Reserved |</p>
      <p class="footer-second-part">
        Developed with<span class="footer img">
          <svg class="footer-love-icon" width="14" height="13">
            <use href="./images/love-icon.svg#love-icon"></use>
          </svg> </span
        >by <a href="#" class="team-link">GoIT Students</a>
      </p>
    </div>
  </div>
</footer>
