.movie-card {
  display: inline-block;
  margin: 0;
  padding: 0;

  width: 280px;
  overflow: hidden;
  transition: $transition;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 293px;
  }

  @media screen and (min-width: $desktop) {
    width: 274px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.movie-poster {
  width: 280px;
  height: 402px;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    width: 293px;
    height: 398px;
  }

  @media screen and (min-width: $desktop) {
    width: 274px;
    // height: 398px;
  }
}

.movie-title {
  margin-top: 10px;

  line-height: 1.16;
  text-transform: uppercase;
  text-align: left;
  color: $primaryBlackColor;
}

.movie-about {
  margin-top: 5px;

  color: $primaryOrangeColor;
  text-align: left;
}

.movie-popularity {
  display: inline-block;
  margin-left: 10px;

  width: 36px;
  height: 16px;

  text-align: center;
  vertical-align: text-bottom;

  color: $primaryWhiteColor;
  background-color: $primaryOrangeColor;
  border-radius: 5px;
}

.no-results {
  margin-top: calc((100vh - 230px - 110px) / 3);

  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;

  color: rgba(0, 0, 0, 0.55);

  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;

  user-select: none;
}

.no-results.visible {
  position: static;
  width: auto;
  height: auto;
  clip: auto;
  overflow: auto;

  user-select: inherit;
}
